.main-menu-button {
    width: 600px;
    height: 120px;
    align-self: center;
    font-size: 40px;
    -unity-font-style: bold;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
